:host {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input__stock {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    width: 100%;
  }
  
  .input__stock:focus {
    outline: none;
    border-color: #333;
  }
  
  .input__stock::placeholder {
    color: #ccc;
  }
  
  .button__stock {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
  }
}

li:hover, li:active {
  background-color: #eee;
  cursor: pointer;
}