:host {
  display: flex;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ccc;
  box-shadow: none;
  transform: translateX(-100%);
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

:host([open]) aside {
  transform: translateX(0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  color: white;

  h1 {
    margin: 0;
    font-size: 18px;
    color: white;
  }

  .close {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
  }
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  background-color: #f1f1f1;
  padding: 20px;
}

.tabs {
  display: flex;
  flex-direction: row;

  button {
    height: 30px;
    width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #eee;
    }

    &.active {
      background-color: #eee;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

:host([open]) .backdrop {
  opacity: 1;
  display: block;
  pointer-events: all;
}